
.env

node_modules/
dist/
logs/

.DS_Store
npm-debug.log
yarn-error.log
.vscode/
.idea/  

coverage/
*.local.ts

*.test.ts
*.spec.ts
tsconfig.build.tsbuildinfo
tsconfig.json
.env.test
.env.local
.env.production
.env.development
.env.test.local
.env.production.local
.env.development.local
.env.test.production
.env.production.production
.env.development.production
.env.test.development
.env.production.development
.env.development.development